[run]
source = fluid

[html]
directory = build/coverage/html

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

[xml]
output = build/coverage.xml
