[tool.poetry]
name = "aio-fluid"
version = "0.1.4"
description = "Tools for backend python services"
license = "BST"
authors = ["Luca <luca@quantmind.com>"]
readme = "readme.md"
packages = [
    {include = "fluid"}
]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
aio-openapi = "^2.3.1"
aioredis = "^2.0.0"
ujson = "^4.0.2"
inflection = "^0.5.1"
prometheus-async = "^19.2.0"
aioconsole = "^0.3.1"
pycountry = "^20.7.3"
python-slugify = {version = "^5.0.2", extras = ["unidecode"]}
python-json-logger = "^2.0.2"
colorlog = "^5.0.1"
aiohttp_cors = "^0.7.0"
aiobotocore = "^1.3.3"
boto3 = "^1.17.0"
aio-kong = "^0.8.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
isort = "^5.9.3"
black = "^21.7b0"
flake8 = "^3.9.2"
flake8-builtins = "^1.5.3"
flake8-commas = "^2.0.0"
pytest-cov = "^2.12.1"
pytest-aiohttp = "^0.3.0"
codecov = "^2.1.12"
mypy = "^0.910"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
