#
uvloop
aio-openapi
aio-kong
aioredis
aioconsole
raven-aiohttp
cython
ujson
prometheus_async
python-json-logger

# data
pycountry

# db migration
alembic_autogenerate_enums

# text & parsing
inflection
python-slugify[unidecode]

# cryptography
pynacl

# terminal
ipython

# dev
colorama

# tools
agile-toolkit
boto3
