#
# code quality
black
isort[requirements]
flake8
flake8-blind-except
flake8-builtins
flake8-commas
# flake8-docstrings
# flake8-rst-docstrings
# flake8-import-order
#

# test
pytest
pytest-aiohttp
pytest-mock

# validation
openapi-spec-validator

# coverage
codecov
pytest-cov


# mypy
mypy
sqlalchemy-stubs
